.login {
    text-align: center;
}

.login > img {
    margin-top: 70px;
    width: 300px;
}

.login > form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0px 200px 50px;
}

.login > form > input {
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
    font-size: 20px;
    border: 1px solid lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login > form > button {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 3px;
    background-color: lightgray;
    border: 1px solid lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login > form > button:hover {
    cursor: pointer;
    color: dodgerblue;
    background-color: whitesmoke;
}

.login > p {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 110px;
}

.login__register {
    color: dodgerblue;
    cursor: pointer;
}