.widgets {
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    text-align: center;
}

.widgets__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 10px;

}

.widgets__header > h2 {
    font-size: 16px;
    font-weight: 600;
}

.widgets__article {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widgets__article:hover {
    background-color: whitesmoke;
}

.widgets__articleLeft {
    color: dodgerblue;
    margin-right: 5px;
    flex: 0.1;
    padding-top: 5px;
}

.widgets__articleLeft > .MuiSvgIcon-root {
    font-size: 18px;
}

.widgets__articleRight {
    flex: 0.9;
    text-align: start;
}


.widgets__articleRight > h4 {
    font-size: 14px;
}

.widgets__articleRight > p {
    font-size: 12px;
    color: gray;
}